# ML WORKSHOP 1
## What we wil learn today
* Basic Pandas Dataframe and Numpy concepts
* Importing Data from a file
* Cleaning Up the data
* Normalizing the data
* Train Test the model using skleanrs Linear Regression
* How good is the trained model?

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Import the dataset
dataframe = pd.read_table('AmesHousing.txt',delimiter='\t')

#check the shape of the data
dataframe.shape

(2930, 82)

In [ ]:
dataframe.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [ ]:
dataframe.describe()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [ ]:
#Accessing a column
dataframe['Sale Condition']

0       Normal
1       Normal
2       Normal
3       Normal
4       Normal
         ...
2925    Normal
2926    Normal
2927    Normal
2928    Normal
2929    Normal
Name: Sale Condition, Length: 2930, dtype: object

In [ ]:
#
dataframe['Sale Condition'].unique()

array(['Normal', 'Partial', 'Family', 'Abnorml', 'Alloca', 'AdjLand'],
      dtype=object)

In [ ]:
#Select rows with the sale condision as normal 
dataframe = dataframe[dataframe['Sale Condition']=='Normal']

In [ ]:
dataframe = dataframe.drop(columns=['Order','PID','Sale Condition'])
dataframe.head()

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,5,2010,WD,215000
1,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,105000
2,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,172000
3,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,4,2010,WD,244000
4,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,189900

In [ ]:
dataframe.shape

(2413, 79)

In [ ]:
#One hot encoding

In [ ]:
categoricalf = [col for col in dataframe if dataframe[col].dtype.name=='object' or col=='MS SubClass']

In [ ]:
dataframe = pd.get_dummies(dataframe,columns=categoricalf,prefix=categoricalf,dummy_na=True)

In [ ]:
dataframe.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_COD,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Type_nan
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,0,0,0,0,1,0
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,0,0,0,0,1,0
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,0,0,0,0,1,0
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,0,0,0,0,1,0
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
dataframe.shape

(2413, 347)

In [ ]:
dataframe.dropna(inplace=True)

In [ ]:
dataframe.shape

(1848, 347)

In [ ]:
#Normalizing the dataframe

#Before that lets convert it to a NumPy Array
columns = dataframe.columns
X = dataframe.to_numpy()

In [ ]:
stddevs = np.std(X,axis=0)+1e-6
X /= stddevs

In [ ]:
dataframe = pd.DataFrame(X)

In [ ]:
dataframe.columns = columns
dataframe.describe()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_COD,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Type_nan
count,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,...,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000,1848.0
mean,3.031951,1.438203,4.531384,5.185727,65.540609,95.926255,0.550833,1.027421,0.317094,1.297903,...,0.132744,0.065937,0.046574,0.096355,0.040323,0.057072,0.023267,0.023267,4.966529,0.0
std,1.000271,1.000271,1.000270,1.000270,1.000271,1.000271,1.000271,1.000271,1.000271,1.000271,...,1.000263,1.000255,1.000249,1.000260,1.000246,1.000253,1.000228,1.000228,1.000266,0.0
min,0.926634,0.192728,0.747078,0.915828,62.533453,94.309649,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,2.559274,1.076722,3.735390,4.579140,64.929626,94.974653,0.000000,0.000000,0.000000,0.523652,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.167875,0.0
50%,3.000528,1.373709,4.482468,4.579140,65.595230,96.340934,0.000000,0.894359,0.000000,1.096155,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.167875,0.0
75%,3.530033,1.651201,5.229547,5.494968,66.493795,96.872937,0.836583,1.689147,0.000000,1.868229,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.167875,0.0
max,13.811256,31.910634,7.470781,8.242452,66.893157,97.211485,9.028891,5.456784,8.356536,5.566560,...,7.665945,15.231457,21.517022,10.474391,24.838900,17.578179,42.998157,42.998157,5.167875,0.0

In [ ]:
#Seperate target from data
Y = dataframe['SalePrice']
dataframe = dataframe.drop(columns=['SalePrice'])

0    2.936213
1    1.433964
2    2.348970
3    3.332260
4    2.593427
Name: SalePrice, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(dataframe, Y, test_size=0.2, random_state=69)

In [ ]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_hat = LR.predict(x_test)
y_hat

array([2.95703125e+00, 2.08203125e+00, 1.33593750e+00, 1.90234375e+00,
       3.00781250e+00, 1.94921875e+00, 2.07812500e+00, 2.71875000e+00,
       2.19140625e+00, 3.61718750e+00, 1.68359375e+00, 2.00000000e+00,
       2.46093750e+00, 3.34375000e+00, 1.46875000e+00, 3.20312500e+00,
       1.85156250e+00, 1.66015625e+00, 2.68750000e+00, 2.27343750e+00,
       3.89062500e+00, 1.80468750e+00, 2.69531250e+00, 2.58593750e+00,
       1.37890625e+00, 1.60156250e+00, 3.57812500e+00, 3.53515625e+00,
       2.31640625e+00, 2.98828125e+00, 3.57812500e+00, 1.73437500e+00,
       2.08203125e+00, 2.01562500e+00, 8.98437500e-01, 2.93750000e+00,
       3.42187500e+00, 1.59765625e+00, 1.84375000e+00, 2.25000000e+00,
       3.84765625e+00, 2.59765625e+00, 1.60937500e+00, 4.98828125e+00,
       1.92968750e+00, 1.84765625e+00, 4.67187500e+00, 2.32812500e+00,
       2.59375000e+00, 2.11328125e+00, 2.24218750e+00, 2.33593750e+00,
       2.42187500e+00, 2.71875000e+00, 2.17187500e+00, 2.02734375e+00,
       1.59375000e+00, 2.30078125e+00, 5.29296875e+00, 1.78515625e+00,
       2.37109375e+00, 2.00000000e+00, 1.46484375e+00, 5.71484375e+00,
       1.98828125e+00, 1.89062500e+00, 2.26562500e+00, 1.27734375e+00,
       2.37500000e+00, 1.08593750e+00, 1.60546875e+00, 2.19531250e+00,
       2.22265625e+00, 4.21484375e+00, 1.60937500e+00, 2.67578125e+00,
       3.70312500e+00, 2.80468750e+00, 1.84375000e+00, 3.44140625e+00,
       1.77343750e+00, 2.05078125e+00, 1.64843750e+00, 2.01953125e+00,
       1.91406250e+00, 2.14843750e+00, 1.71093750e+00, 1.82812500e+00,
       2.00390625e+00, 1.12500000e+00, 1.44140625e+00, 1.67578125e+00,
       1.78125000e+00, 4.53906250e+00, 4.97265625e+00, 3.92187500e+00,
       4.25390625e+00, 2.62109375e+00, 5.42968750e+00, 2.59765625e+00,
       2.09765625e+00, 3.32031250e+00, 2.03125000e+00, 2.92578125e+00,
       3.23828125e+00, 1.98437500e+00, 2.71875000e+00, 4.46093750e+00,
       1.90625000e+00, 1.84765625e+00, 2.42968750e+00, 1.78515625e+00,
       3.87500000e+00, 2.34765625e+00, 3.09375000e+00, 2.68359375e+00,
       1.85156250e+00, 2.42187500e+00, 3.95312500e+00, 2.87890625e+00,
       1.61718750e+00, 2.14843750e+00, 1.78906250e+00, 4.07031250e+00,
       2.24218750e+00, 2.18750000e+00, 2.82031250e+00, 2.96875000e+00,
       2.58984375e+00, 2.59375000e+00, 3.81250000e+00, 1.61328125e+00,
       3.47265625e+00, 1.43359375e+00, 1.39843750e+00, 2.20703125e+00,
       2.71093750e+00, 3.25781250e+00, 3.43879855e+12, 3.25781250e+00,
       1.36328125e+00, 1.81640625e+00, 3.19531250e+00, 1.64843750e+00,
       2.76171875e+00, 5.48828125e+00, 2.98046875e+00, 1.45312500e+00,
       2.78125000e+00, 2.06250000e+00, 2.62890625e+00, 4.00781250e+00,
       2.79296875e+00, 3.22265625e+00, 2.30468750e+00, 1.98828125e+00,
       3.50000000e+00, 2.88671875e+00, 2.63671875e+00, 1.96484375e+00,
       2.60937500e+00, 1.33984375e+00, 3.88671875e+00, 3.20312500e+00,
       1.68750000e+00, 3.03906250e+00, 2.65625000e+00, 2.46484375e+00,
       1.42968750e+00, 1.46875000e+00, 2.98046875e+00, 1.39062500e+00,
       2.35937500e+00, 3.75000000e+00, 2.88671875e+00, 1.70703125e+00,
       2.83984375e+00, 1.73828125e+00, 2.91406250e+00, 1.45312500e+00,
       1.36718750e+00, 2.35156250e+00, 3.01953125e+00, 7.44921875e+00,
       1.66796875e+00, 2.62500000e+00, 2.47656250e+00, 4.33593750e+00,
       2.83984375e+00, 2.16015625e+00, 2.25390625e+00, 1.42578125e+00,
       2.64453125e+00, 2.10546875e+00, 1.49218750e+00, 2.03125000e+00,
       1.10937500e+00, 1.50000000e+00, 2.87890625e+00, 1.96875000e+00,
       1.95703125e+00, 2.57421875e+00, 4.48046875e+00, 2.25781250e+00,
       2.44140625e+00, 2.39062500e+00, 1.76953125e+00, 2.88281250e+00,
       1.94531250e+00, 2.89843750e+00, 8.43750000e-01, 3.17578125e+00,
       2.94921875e+00, 2.85156250e+00, 1.60546875e+00, 1.26953125e+00,
       3.10546875e+00, 6.08984375e+00, 3.29687500e+00, 2.34765625e+00,
       3.53125000e+00, 1.48828125e+00, 1.78906250e+00, 3.81640625e+00,
       2.04296875e+00, 1.36328125e+00, 2.13671875e+00, 1.83984375e+00,
       1.66796875e+00, 1.20312500e+00, 2.56250000e+00, 2.79296875e+00,
       3.95312500e+00, 2.01953125e+00, 1.92968750e+00, 2.62890625e+00,
       2.25781250e+00, 2.71484375e+00, 2.36328125e+00, 1.80468750e+00,
       2.96875000e+00, 2.20312500e+00, 4.53125000e+00, 2.09375000e+00,
       2.76562500e+00, 2.08593750e+00, 1.48437500e+00, 2.10156250e+00,
       2.00390625e+00, 2.62890625e+00, 2.95703125e+00, 1.68750000e+00,
       3.24609375e+00, 1.94531250e+00, 3.06250000e+00, 3.50390625e+00,
       4.34765625e+00, 1.18750000e+00, 2.04296875e+00, 2.87109375e+00,
       2.44140625e+00, 3.44531250e+00, 1.71875000e+00, 2.21875000e+00,
       2.88671875e+00, 2.51171875e+00, 2.59375000e+00, 1.83984375e+00,
       3.15234375e+00, 1.99218750e+00, 1.89062500e+00, 2.62109375e+00,
       2.64453125e+00, 1.69531250e+00, 3.97265625e+00, 1.96093750e+00,
       1.35546875e+00, 1.87890625e+00, 2.93359375e+00, 2.54296875e+00,
       2.02734375e+00, 2.23437500e+00, 4.68750000e+00, 2.10546875e+00,
       2.38281250e+00, 2.14843750e+00, 2.94140625e+00, 3.07812500e+00,
       2.68750000e+00, 1.82421875e+00, 1.91406250e+00, 2.02343750e+00,
       1.69140625e+00, 2.87890625e+00, 2.71875000e+00, 1.85546875e+00,
       1.78906250e+00, 2.43817499e+11, 2.08203125e+00, 2.83984375e+00,
       2.48828125e+00, 1.62109375e+00, 2.75781250e+00, 2.85937500e+00,
       3.05078125e+00, 1.75390625e+00, 3.07031250e+00, 2.12109375e+00,
       1.96484375e+00, 2.37500000e+00, 1.44921875e+00, 4.71484375e+00,
       4.73437500e+00, 1.46484375e+00, 2.47265625e+00, 1.82421875e+00,
       1.76953125e+00, 1.96093750e+00, 1.90234375e+00, 1.98046875e+00,
       1.82421875e+00, 1.62500000e+00, 2.56250000e+00, 2.29687500e+00,
       1.52343750e+00, 2.12890625e+00, 2.07421875e+00, 2.84375000e+00,
       1.81640625e+00, 1.69921875e+00, 1.94921875e+00, 2.02734375e+00,
       2.18359375e+00, 2.12500000e+00, 3.71093750e+00, 1.44921875e+00,
       2.05859375e+00, 3.54687500e+00, 2.23046875e+00, 2.57421875e+00,
       1.15625000e+00, 2.09765625e+00, 2.28125000e+00, 1.66015625e+00,
       2.78515625e+00, 1.51171875e+00, 2.55468750e+00, 3.04296875e+00,
       1.60546875e+00, 4.15234375e+00, 2.61718750e+00, 3.25781250e+00,
       9.49218750e-01, 2.05859375e+00, 1.66015625e+00, 2.31250000e+00,
       3.10156250e+00, 2.26953125e+00, 2.44921875e+00, 1.70312500e+00,
       1.48828125e+00, 2.08984375e+00, 1.96093750e+00, 3.91796875e+00,
       1.69531250e+00, 1.89062500e+00, 1.38281250e+00, 2.69140625e+00,
       3.62109375e+00, 1.36718750e+00])

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_hat)

3.2121033706293214e+22